


.row_container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  
}

.columnNames {
  font-weight: 700;
  display: flex;
  height: 30px;
  width: fit-content;
  gap: 1.5rem;
  padding-left: 4.3rem;
  z-index: 6;
  color: #fff;
}